<%- include('header'); -%>
    <div class="container">
        <div class="card-body">
            <h5 class="card-title" >Login</h5>
            <form action="/user/login" method="POST" class="validated-form" novalidate
                onsubmit="return checkforblankSignin()">
                <div class="mb-3">
                    <label class="form-label" for="username">Username</label>
                    <input class="form-control" type="text" id="username" name="username" autofocus required>
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                </div>

                <div class="mb-3">
                    <label class="form-label" for="password">Password</label>
                    <input class="form-control" type="password" id="password" name="password" required>
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                </div>
                <button class="btn btn-success btn-block">Login</button>
            </form>
        </div>
    </div>

    <%- include('footer'); -%>